//color site
$color-main: #017bc2;
$colr-main-medium: #015b90;
$color-main-dark: #252e37;




//color generic
$color-black: black;
$color-white: white;
$color-grey: grey;
$color-grey-light: #BBB9B9;
$color-grey-dark: #E5E5E5;
$color-red: #F8D7DB;
$color-red-dark: #721C24;
$color-green: #D4EDDA;
$color-green-dark: #165724;